{% extends 'Base.html' %}
{% block base %}	

<!-- Destination -->

<div class="destination item">
	<div class="destination_image">
		<img src="{{url_for('static',filename='images/destination_1.jpg' )}}" alt="">
		<div class="spec_offer text-center"><a href="#">Special Offer</a></div>
	</div>
	<div class="destination_content">
		<div class="destination_title"><a href="destinations.html">{{name}}</a></div>
		<div class="destination_subtitle">
			<p>Nulla pretium tincidunt felis, nec.</p>
		</div>
		<div class="destination_price">Price : $50</div>
	</div>
</div>

{% endblock %}